{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
    <h1 class="text-center">Editar Usuario</h1>

    {{ include('user/edit_form.html.twig') }}

{% endblock %}
