{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Crear Nuevo Usuario</h1>

    {{ include('user/new_form.html.twig') }}

{% endblock %}
